<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeremy.dao.ProductDao">
    <resultMap id="BaseResultMap" type="com.jeremy.model.Product">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="store" property="store" jdbcType="INTEGER"/>
    </resultMap>
    <sql id="Base_Column_List">
        id,name,store
    </sql>
    <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from t_product
        where id = #{id,jdbcType=BIGINT} for update
    </select>


</mapper>